.courses_details_banner{
    background-image: url(../img/banner/bradcam2.png);
    padding-top: 200px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media #{$mobile_device}{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .course_text{
        h3{
            font-size: 46px;
            color: #fff;
            line-height: 56px;
            font-weight: 400;
            font-family: $font1;
            @media #{$mobile_device}{
                font-size: 30px;
                line-height: 36px;
            }
        }
        .price{
            span{
                font-size: 30px;
                font-weight: 400;
                font-family: $font1;
                @media #{$mobile_device}{
                    font-size: 20px;
                }
                &.inactive{
                    color: #fff;
                    text-decoration: line-through;
                    margin-right: 50px;
                }
                &.active{
                    color: #04D2C8;
                }
            }
        }
        .rating{
            margin: 16px 0 15px 0;
            i{
                color: #FD8E5E;
                font-size: 17px;
            }
            span{
                font-size: 14px;
                color: #fff;
            }
        }
        .hours{
            .video{
                .single_video{
                    margin-bottom: 4px;
                }
                i{
                    color: #AD9EEB;
                    font-size: 18px;
                }
                span{
                    color: #fff;
                    font-size: 18px;
                    padding-left: 14px;
                    font-weight: 400;
                    font-family: $font1;
                }
            }
        }
    }
}

// courses_details_info start
.courses_details_info{
    padding-top: 100px;
    padding-bottom: 200px;
    @media #{$mobile_device} {
        padding: 50px 0 50px 0;
    }
    .single_courses{
        h3{
            font-size: 36px;
            font-weight: 400;
            color: #1F1F1F;
            margin-bottom: 30px;
            &.second_title{
                margin-top: 52px;
            }
        }
        p{
            font-size: 17px;
            line-height: 21px;
            margin-bottom: 0;
        }
    }
    .courses_sidebar{
        position: relative;
        //margin-top: -400px;
        @media #{$mobile_device} {
            margin-top: 0;
        }
        @media #{$tablet_device} {
            margin-top: 0;
        }
        // @media #{$mid_device} {
        //     margin-top: 0;
        // }
        // @media #{$large_device} {
        //     margin-top: 0;
        // }
        .video_thumb{
            position: relative;
            img{
                width: 100%;
            }
            a{
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%,-50%));
                background: #FD8E5E;
                width: 90px;
                height: 90px;
                color: #fff;
                @include border-radius(50%);
                line-height: 90px;
                text-align: center;
            }
        }
        .author_info {
            border: 1px solid #E8E8E8;
            padding: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            p.text_info{
                margin: 14px 0 20px 0;
            }
            .auhor_header{
                .thumb{
                    float: left;
                }
                .name{
                    position: relative;
                    overflow: hidden;
                    padding-left: 15px;
                    top: 5px;
                    h3{
                        font-size: 18px;
                        color: #1F1F1F;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }
                    p{
                        font-size: 14px;
                        color: #919191;
                    }
                }
            }
            ul{
                li{
                    display: inline-block;
                    a{
                        color: #D1D1D1;
                        margin-right: 17px;
                        &:hover{
                            color: #04D2C8;
                        }
                    }
                }
            }
        }
        .boxed_btn {
            width: 100%;
            text-align: center;
        }
        .feedback_info {
            border: 1px solid #E8E8E8;
            padding: 35px;
            margin-top: 40px;
            @media #{$mobile_device} {
                padding: 25px;
            }
            h3{
                font-size:18px;
                color: #1F1F1F;
                font-weight: 400;
                font-family: $font1;
                margin-bottom: 27px;
            }
            p{
                font-size: 14px;
                color: #1F1F1F;
                font-weight: 400;
                font-family: $font1;
                margin-bottom: 0;
            }
            i{
                font-size: 20px;
                color: #FEAE5C;
            }
            textarea{
                margin-top: 15px;
                border: 1px solid #E8E8E8;
                font-family: $font1;
                font-size: 17px;
                padding: 15px;
                margin-bottom: 30px;
                width: 100%;
                &::placeholder{
                font-family: $font1;
                font-size: 17px;
                }
            }
        }
    }
}
