.footer_bg_1{
    background-image: url(../img/banner/footer_bg.png);
}
.footer{
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .footer_top{
        padding-top: 145px;
        padding-bottom: 129px;
        @media #{$mobile_device} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .footer_widget{
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }
            @media #{$tablet_device} {
                margin-bottom: 30px;
            }
            .footer_title{
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            .footer_logo{
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            p{
                color: #C7C7C7;
            }
            p.footer_text{
                font-size: 16px;
                color: #B2B2B2;
                margin-bottom: 23px;
                font-weight: 400;
                line-height: 28px;
                a.domain{
                    color: #B2B2B2;
                    font-weight: 400;
                    &:hover{
                        color: #FDAE5C;
                        border-bottom: 1px solid #FDAE5C
                    }
                }
                &.doanar{
                    a{
                    font-weight: 500;
                    color: #B2B2B2;

                    &:hover{
                        color: #FDAE5C;
                        border-bottom: 1px solid #FDAE5C
                    }
                    &.first{
                        margin-bottom: 10px;
                    }
                    }

                }
            }
            ul{
                li{
                    a{
                        font-size: 16px;
                        color: #BABABA;
                        line-height: 42px;
                        &:hover{
                            color: #FDAE5C;
                        }
                    }
                }
            }
            .newsletter_form{
                position: relative;
                margin-bottom: 20px;
                input{
                    width: 100%;
                    height: 45px;
                    background: #fff;
                    padding-left: 20px;
                    font-size: 16px;
                    color: #000;
                    border: none;
                    &::placeholder{
                        font-size: 16px;
                        color: #919191;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    background: #FDAE5C;
                    padding: 10px;
                    padding: 0 22px;
                    cursor: pointer;
                }
            }
            .newsletter_text{
                font-size: 16px;
                color: #BABABA;
            }
        }
    }
    .copy-right_text{
        padding-bottom: 30px;
        .footer_border{
            border-top: 1px solid rgba(255, 255,255, .2);
            padding-bottom: 30px;
        }
        .copy_right{
            font-size: 16px;
            color:#919191;
            margin-bottom: 0;
            font-weight: 400;
            @media #{$mobile_device} {
                font-size: 14px;
            }
            a{
                color: #FDAE5C;
            }
        }
    }
    .social_links{
        margin-top: 47px;
        @media #{$mobile_device} {
            margin-top: 30px;
        }
        ul{
            li{
                display: inline-block;

                a{
                    font-size: 18px;
                    color: #C3B2F0;
                    line-height: 42px;
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    text-align: center;
                    background: #8565E2;
                    border-radius: 3px;
                    line-height: 50px !important;
                    margin-right: 7px;
                 &:hover{
                     color: #fff !important;
                 }
                }
            }
        }
    }
}
