.header-area{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255,.20);
    @media #{$mobile_device} {
        padding-top: 0;
    }
    @media #{$tablet_device} {
        padding-top: 0;
    }
    .main-header-area{
        padding: 0 150px;
        @media #{$mobile_device} {
            padding: 10px 10px;
        }
        @media #{$tablet_device} {
            padding: 10px 10px;
        }
        @media #{$mid_device} {
            padding: 0 20px;
        }
        @media #{$large_device} {
            padding: 0 10px;
        }
        .logo-img{
            text-align: center;
            @media #{$mobile_device} {
                // padding-left: 20px;
                text-align: left;
            }
            @media #{$tablet_device} {
                // padding-left: 20px;
                text-align: left;
            }
            @media #{$mid_device} {
                // padding-left: 20px;
                text-align: left;
            }
        }
        .book_room{
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-end);
           .social_links{
               ul{
                   li{
                       display: inline-block;

                       a{
                        color: #A8A7A0;
                        margin: 0 10px;
                        font-size: 15px;
                        &:hover{
                            color: #fff;
                        }
                       }
                   }
               }
           }
           .book_btn{
               margin-left: 30px;
               a{
                background: transparent;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid #fff;
                color: #fff;
                padding: 14px 20px;
                &:hover{
                    background: #fff;
                    color: #000 !important;
                    border: 1px solid #fff;
                }
               }
           }
        }
        .main-menu{
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    position: relative;
                    margin-right: 50px;
                    @media #{$mid_device} {
                        margin-right: 20px;
                    }
                    @media #{$large_device} {
                        margin-right: 15px;
                    }
                    a{
                        color: #fff;
                        font-size: 16px;
                        text-transform: capitalize;
                        font-weight: 400;
                        display: inline-block;
                        padding: 34px 0;
                        font-family: $font1;
                        position: relative;
                        text-transform:capitalize;

                        @media #{$mid_device} {
                            // padding: 41px 0px 10px 0px;
                            font-size: 15px;
                        }
                        @media #{$large_device} {
                            // padding: 41px 0px 10px 0px;
                            font-size: 15px;
                        }
                        i{
                            font-size: 9px;
                            @media #{$mobile_device}{
                                display: none !important;
                            }
                            @media #{$tablet_device}{
                                display: none !important;;
                            }
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            background: #04D2C8;
                            width: 100%;
                            height: 3px;
                            bottom: -1px;
                            left: 0;
                            opacity: 0;
                            z-index: 9;
                            transform: scaleX(0);
                            @include transition(.3s);
                        }
                        &:hover::before{
                            opacity: 1;
                            transform: scaleX(1);
                        }
                        &.active{
                            &::before{
                                opacity: 1;
                                transform: scaleX(1);
                            }
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                    .submenu {
                        position: absolute;
                        left: 0;
                        top: 140%;
                        background: #fff;
                        width: 200px;
                        z-index: 2;
                        box-shadow: 0 0  10px rgba(0,0,0,.02);
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        @include transition(.6s);
                        li{
                            display: block;
                            a{
                                padding: 10px 15px;
                                position: inherit;
                                @include transition(.3s);
                                display: block;
                                color: #000;
                                &::before{
                                    display: none;
                                }
                            }
                            &:hover a{
                                color: #000;
                            }
                        }
                    }
                    &:hover > .submenu{
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }
                    &:hover > a::before{
                        opacity: 1;
                        transform: scaleX(1);
                    }
                    &:first-child a {
                        padding-left: 0;
                    }
                }
            }
        }
        &.sticky {
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            z-index: 999;
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            padding: 0px 150px;
            @extend %gradient_bg_2;
            @media #{$mobile_device} {
                padding: 10px 10px;
            }
            @media #{$tablet_device} {
                padding: 10px 10px;
            }
            @media #{$mid_device} {
                padding: 0px 20px;
            }
            @media #{$large_device} {
                padding: 0px 20px
            }
            .main-menu{
                padding: 0;
            }
        }

    }
    .log_chat_area{
        @include justify-content(flex-end);
        .login{
            font-size: 16px;
            margin-right: 50px;
            text-transform: capitalize;
            color: #fff;
            @media #{$mid_device} {
                margin-right: 7px;
            }
            i{
                color: #fff;
                padding-right: 12px;
            }
            span{
                font-size: 16px;
            }
        }
        .live_chat_btn{
            a{
                color: #fff;
                @media #{$mid_device} {
                    padding: 12px 12px;
                    font-size: 13px;
                }
                @media #{$large_device} {
                    font-size: 13px;
                    padding: 12px 25px;
                }
                i{
                    padding-right: 7px;
                }
            }
        }
    }
}
