.google-login-img {
    width: 60%;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.google-login-img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.popup_box .input-div {
    margin-bottom: 10px;
}

.popup_box .checkbox-input {
    margin-bottom: 20px;
    margin-left: 17px;
}

.popup_box .checkbox-input input {
    height: 20px;
}

.popup_box .checkbox-input label {
    color: #fff;
}

.is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    display: block;
}

.menu-user-avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.header-area .main-header-area .main-menu ul li .submenu li button {
    width: 100%;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover button {
    background-color: #fff;
}

.logo-img img {
    width: 80px;
}

.thumb img {
    width: 65px;
}

#our_courses .section_title {
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .logo-img img, .thumb img {
        width: 40px;
    }

    #our_courses .section_title {
        margin-top: 0px;
    }
}